*{
  margin:0;
  padding:0;
  box-sizing: border-box;
 
}
.main{
  height:99vh;
  border:0.01px solid orangered;
  background:linear-gradient(to right,orangered,#36d621,orangered);
}
.container{
  border:0.01px solid rgb(255, 255, 255);
  background-color: white;
  margin-top:10vh ;
  height:60vh;
  width:30%;
  border-radius: 10px;
  box-shadow: 2px 2px 20px 2px black;
}
.heading{
  height:30px;
  margin-top: 20px;
  text-align: center;
  font-weight: 800;
  background:linear-gradient(to right,#36d621,orangered,#36d621);
  color:white;
}
.Inputs{
  width:98%;
  margin-left: 1%;
  margin-top: 20px;
 
}
input{
  width:100%;
  border:1px solid white;
  border-bottom: 2px solid orangered;
  outline: none;
  text-align: center;
}
input:focus{
  border-bottom: 2px solid rgb(29, 182, 8);
}
.save{
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
  width:28px;
  height: 28px;
  padding:0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items:end;
  color:white;
  background-color: orangered;
}
#pls{
  margin-bottom: 2px;
}
.bi{
  color:rgb(255, 255, 255);
  background-color: orangered;
  width:25px;
  height:25px;
  border-radius: 50%;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bi:hover{
  background-color: red;
}
.list{
  width:95%;
  margin:15px 15px;
  margin-right: 0;
  font-weight: 700; 
}
.save:hover{
  background-color: rgb(29, 182, 8);
}
.edit{
 
}

.outr{
  height: 350px;
  overflow: auto;
}
@media(max-width:900px){
  .container{
    width:50%;
  }
 
}

@media(max-width:770px){
  .container{
    width:70%;
  }
 
}
